@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    --CorPrimaria: #B0E0E6;
    --CorSecundaria: #EE4037;
    --CorTerciaria: #FEBF2C;
    --CorTextoDestaque: #922A25;

    --FontePrimaria: 'IBM Plex Sans', sans-serif;
    --FonteSecundaria: 'Lora', serif;
    --FonteTerciaria: 'Merriweather', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--FontePrimaria);
}

body,
html {
    height: 100%;
}

.conteiner {
    display: flex;
    flex-direction: column;
    min-height: 150vh;
}

/* CONFIGURAÇÃO DO CABEÇALHO DO SITE */

header {
    border: solid red 1px;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: var(--CorSecundaria);
    height: 65px;
    box-shadow: 0px 7px 12px 0px #0000007a;
}

header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.menu {
    position: absolute;
    left: 10px;
}

.Logo img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.Logo {
    width: 55px;
    height: 55px;

}

.menuLatera {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #333;
    color: white;
    padding-top: 60px;
    transition: left 0.3s;
}

#MenuLateral {
    padding: 10px;
    border: none;
    background-color: var(--CorPrimaria);
    color: var(--CorTextoDestaque);
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.menuLatera a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

.menuLatera a:hover {
    background-color: #b0e0e6d7;
    color: #922A25;
}

#FecharMenu {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    font-family: sans-serif;
    transition: ease-in-out 13ms;
    cursor: pointer;
}

#FecharMenu:hover {
    color: #922A25;
}

/* CONFIGURAÇÃO DO CORPO DO SITE */

.CorpoPrincipal {
    max-width: 950px;
    margin: 40px auto;
    flex: 1;
}

.Artigo {
    width: 85%;
    display: flex;
    max-height: 250px;
    padding: 10px;
    margin: 20px auto;
}

.ImgArtigo {
    width: 55%;
}

.ImgArtigo img {
    width: 100%;
    height: 100%;
}

.LadoEsquerdo {
    width: 45%;
    padding: 5px;
}

.Enunciado {
    font-size: 1.3em;
    text-align: center;
    color: var(--CorTextoDestaque);
    text-shadow: 2px 1px 1px #00000018;

}

.Topicos {
    font-size: 1em;
    font-weight: 500;
}

.Topicos::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 50%;
    margin-right: 5px
}

.DataELocal {
    font-size: .7em;
    font-weight: 300;
    margin-top: 15px;
    display: block;
}

.linha {
    height: 0;
    width: 90%;
    margin: 5px auto;
    border-bottom: .5px solid rgba(0, 0, 0, 0.274);
    padding: 10px 0;
}

.ancora {
    text-decoration: none;
    color: black;
}

.Artigo:hover .Enunciado {
    color: var(--CorSecundaria);
}

/* CONFIGURAÇÃO DO RODAPÉ */

footer {
    height: 200px;
    background-color: var(--CorSecundaria);
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    box-shadow: 0px -7px 12px 0px #0000007a;
}

.LinkExterno::before {
    content: "🔗";
    margin-right: 5px;
}

.LinkExterno {
    margin: 3px 50px;
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.LinkExterno:hover {
    text-decoration: underline;
}

.IrAoTopo {
    position: absolute;
    background-color: #B0E0E6;
    color: #922A25;
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;
    right: 10px;
    top: 10px;
}

.IrAoTopo a::after {
    content: "⬆";
    margin-left: 10px;
}

.IrAoTopo a {
    text-decoration: none;
    color: #922A25;
    font-weight: 600;
}

.IrAoTopo:hover a {
    color: #EE4037;
}

/* DEFINIÇÃO GERAL PARA A TAG "P" NOS ARTIGOS */

.creditos p {
    font-family: var(--FonteSecundaria);
}

/* {} */