.Barra{
    width: 5px;
    height: 25px;
    margin: auto 20px;
    border-left: 2px solid rgb(255, 255, 255);
}
.TituloSecao{
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
}

/* {} */