.Barra {
    width: 5px;
    height: 25px;
    margin: auto 10px;
    border-left: 2px solid rgb(255, 255, 255);
}

.TituloSecao {
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
}


/* CONFIGURAÇÃO DA BIBLIOGRAFIA */

.Bibliografia{
    width: 100%;
}
.biblio{
    display: block;
    white-space: normal;
    text-decoration: none;
    color: rgb(47, 95, 226);
    transition: ease-in-out 55ms;
}
.biblio:hover{
    text-decoration: underline;
    font-weight: 600;
}


/* {} */